body{
    background-color: white;
}

.contenedor{
    height: 1200px;
    width: 900px;
}

#encabezado{

    color: #BADA55;
    font-family: Courier, monospace;
    background-color: #B58A69;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    color: #0000;
    background-color: 0;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;


}

#menu ul{
    text-align: center;
}

#menu li{
    display: inline;
    margin: 0 35px ;

}


#menu a{
    color: black;
}

#imagen{
    height: 190px;
    width: 340px;
    margin: 15px;
}

.medio{
    padding: 0 50px;
}

.seccion{
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    background-color: #DEE5DE;
    flex-wrap: wrap;


}

.seccion h2{
    font-size: 20px;
    
    width: 35%;
    display: inline-block;
    float: right;
    margin-right: 55px;

}

.seccion p{
    font-size: 14px;
    text-align: justify;
    float: right;
    padding: 5px;
}

.boton{
    color: white;
    height: 85px;
    width: 120px;
    background-color: #5E5E4A;
}

.fueraSeccion{

    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: #D7D7CB;


}

.fueraSeccion h2{
margin: 5px;
}

.fueraSeccion picture{
    
}

.fueraSeccion img{
    width: 250px;
    height: 160px;
}

.pie{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #E8E6E6;
    background-color: #5E5E4A ;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}

